body {
    margin: auto;
    width: 700px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 40px;
  }
  th, td {
    padding: 5px;
    text-align: left;    
    text-align: center;
  }