body {
    background-image: url(../images/homeworkimg/Group\ 1423@2x.png), url(../images/homeworkimg/Bg\ Shape@2x.png), url(../images/homeworkimg/Group\ 1333@2x.png), url(../images/homeworkimg/Bg\ Shape\ footer\ 2@2x.png), url(../images/homeworkimg/Bg\ Shape\ footer\ 1@2x.png);
    background-repeat: no-repeat;
    background-size: 30.6vw, 45.5vw, 35.8vw, 133.4vw, 188.9vw;
    background-position: right 6.5vw top 130px, right top, left 9vw top 860px, left -18.2vw bottom -57.6vw, left -83.3vw bottom -90.8vw;
    font-family: 'Lato', sans-serif;
    margin: auto;
}



.navbar {
    overflow: hidden;
    margin-top: 30px;
    margin-right: 8.46vw;
    margin-left: 13vw;
}

.navbar h1 {
    color: rgba(72,72,72,255);
    font-size: 2.1vw;
    margin: auto;
    float: left;
    padding-top: 2vw;
    padding-left: 0.7vw;
}

.navbar img {
    float: left;
    width: 3.9vw;
}

.navbar a {
    font-size: 1.1vw;
    color: white;
    float: left;
    text-decoration: none;
    padding: 0.9vw 0.9vw;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: darkgray;
}

.navbar .topnav-right {
    float: right;
}

.textbox1 {
    margin-top: 110px;
    margin-left: 13vw;
    text-transform: uppercase;
}

#firsth1 {
    color: rgba(72,72,72,255);
    margin: auto;
    font-weight: 100;
    font-size: 2.7vw;
}

#secondh1 {
    color: rgba(72,72,72,255);
    margin: auto;
    margin-top: 5px;
    font-size: 4.2vw;
}


.textbox1 p {
    color: rgb(107, 107, 107);
    margin: auto;
    margin-top: 15px;
    font-size: 0.8vw;
}

.button1 {
    background-image: url(../images/homeworkimg/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 25px;
}

.textbox1 a {
    color: white;
    text-decoration: none;
    display: block;
    width: 216px;
}

.contact {
    margin-left: 5.2vw;
    margin-top: -155px;
}

.contact .media {
    padding-top: 2vw;
}

.contact img {
    width: 21px;
}

#line img {
    width: 5px;
    height: 40px;
    margin-top: -7px;
    padding-left: 7px;   
}

.mouse {
    display: flex;
    justify-content: center;
}

.mouse .circle {
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 70px;
    height: 70px;
}

.mouse img {
    width: 25px;
    padding-top: 16px;
}

.textbox2 {
    width: 48.8%;
    margin-top: 200px;
    margin-left: 51%;
}

.textbox2 h4 {
    margin-bottom: 15px;
}

.textbox2 h1 {
    margin: auto;
    font-size: 2.9vw;
}

.textbox2 p{
    line-height: 25px;
    padding-top: 8px;
    width: 63.7%;
}

.button2 {
    background-image: url(../images/homeworkimg/Rectangle\ 8@2x.png);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 40px;
}

.textbox2 a {
    color: white;
    text-decoration: none;
    display: block;
    width: 216px;
}

.textbox3 {
    margin-top: 200px;
    margin-left: 14.3vw;
}

.service {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6.6vw;
    padding-right: 6.8vw;
}

.servicebox {
    width: 29%;
    border-radius: 30px;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 20%), 0px 0px 2px rgb(0 0 0 / 20%);
    text-align: center;
    margin-top: 80px;
    margin-left: 3.3vw;
    position: relative;
    padding-bottom: 100px;
}

.servicebox img {
    width: 90px;
    padding-top: 30px;
}

.servicebox h4 {
    text-align: left;
    padding-left: 30px;
    padding: 0 30px;
}

.servicebox p {
    text-align: left;
    padding: 0 30px;
    padding-top: 15px;
    text-justify: inter-word;
}

.service a {
    color: white;
    display: block;
    text-decoration: none;
    width: 120px;
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.minibtn {
    background-image: url(../images/homeworkimg/Rectangle\ 8@2x.png);
    background-size: 120px 35px;
    background-repeat: no-repeat;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox4 {
    margin-top: 220px;
    background-color: rgba(236,234,255,255);
    text-align: center;
    padding-bottom: 30px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pricebox {
    padding: 20px;
    background-color: white;
    width: 200px;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 20%), 0px 0px 1px rgb(0 0 0 / 20%);
    border-radius: 20px;
    margin-left: 50px;
}

.pricebox2 {
    padding: 20px;
    background-color: white;
    width: 200px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 20%), 0px 0px 4px rgb(0 0 0 / 20%);
    border-radius: 20px;
    margin-left: 50px;
    position: relative;
}

#firstpb {
    margin-left: -2px;
}

.pricebox a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.pricebox2 a {
    color: white;
    display: block;
    text-decoration: none;
    width: 120px;
    position: absolute;
    right: 60px;
}

.pricebtn {
    border: 1px solid;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricebtn2 {
    background-image: url(../images/homeworkimg/Rectangle\ 8@2x.png);
    background-size: 120px 35px;
    background-repeat: no-repeat;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox4 h5 {
    padding-top: 40px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet {
    background-color: lightgray;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin-top: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.bullet:hover {
    background-color: rgb(166, 85, 253);
    width: 15px;
    height: 15px;
    margin-top: 40px;
}

.textbox5 {
    margin-top: 130px;
    text-align: center;
}

.newstitle {
    font-weight: lighter;
}

.mailbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.textbox5 h5 {
    margin: auto;
}

.textbox5 h1 {
    margin-top: 10px;
}

.textbox5 input {
    background-color: rgb(248, 243, 243);
    border: rgb(248, 243, 243);
    border-radius: 7px;
    padding: 15px 0;
    padding-left: 30px;
    padding-right: 300px;
    margin-left: -60px;
    outline: none;
}

.textbox5 a {
    color: white;
    text-decoration: none;
    display: block;
    width: 160px;
    margin-left: 30px;
}

.subbtn {
    background-image: url(../images/homeworkimg/Rectangle\ 8@2x.png);
    background-size: 160px 45px;
    background-repeat: no-repeat;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.banner {
    margin-top: 24.7vw;
    margin-bottom: 3.9vw;
    display: flex;
    justify-content: center;
    color: white;
}

.banner img {
    height: 18px;
    padding-left: 15px;
}

#img1 {
    padding: 0;
}

.titlecol {
    padding-bottom: 1.3vw;
}

.row {
    padding-left: 9.8vw;
    line-height: 30px;
}

#firstrow {
    padding-left: 0;
    text-align: center;
    margin-left: -70px;
}

#firstrow h1 {
    margin-top: 20px;
    font-weight: lighter;
    font-size: 1.7vw;
}

#firstrow h2 {
    font-weight: lighter;
}

#secondrow {
    padding-left: 13vw;
}

.row {
    font-size: 1vw;
}

.row .col img{
    padding: 0;
    padding-right: 6px;
    height: 15px;
}

@media screen and (min-width: 480px) and (max-width: 1024px){
    body {
        background-image: url(../images/homeworkimg/Group\ 1423@2x\ \(Transparent\).png), url(../images/homeworkimg/Bg\ Shape@2x\ \(Transparent\).png), url(../images/homeworkimg/Group\ 1333@2x\ \(Transparent\).png), url(../images/homeworkimg/Bg\ Shape\ footer\ 2@2x.png), url(../images/homeworkimg/Bg\ Shape\ footer\ 1@2x.png);

        background-size: 380px, 400px, 400px, 1550px, 2300px;
        
        background-position: right 6.5vw top 130px, right top, right top 880px, left -270px bottom -590px, left -1050px bottom -896px;
    }

    .navbar h1 {
        font-size: 30px;
    }

    .navbar img {
        width: 50px;
    }

    .navbar a {
        font-size: 15px;
    }

    #firsth1 {
        font-size: 35px;
    }

    #secondh1 {
        font-size: 55px;
    }

    .textbox1 p {
        font-size: 12px;
    }

    .mouse {
        margin-top: 120px;
    }

    .textbox2 {
        margin: auto;  
        margin-top: 150px;      
        width: 60%;
    }

    .textbox2 p{
        width: 100%;
    }

    .textbox2 h4 {
        font-size: 16px;
    }

    .textbox2 h1 {
        font-size: 45px;
    }

    .servicebox {
        width: 45%;
    }

    #firstpb {
        margin-left: 50px;
        margin-top: 0;
    }
    
    .pricebox {
        width: 70%;
        margin-top: 40px;
    }

    .pricebox2 {
        width: 70%;
        margin-top: 40px;
        height: 30vh;
    }

    .mailbox {
        flex-wrap: wrap;
    }

    .textbox5 input {
        width: 50%;
        padding-right: 0;
        margin-left: 50px;
        margin-bottom: 15px;
    }

    .banner {
        flex-wrap: wrap;
        margin-top: 50vw;
    }

    .row {
        font-size: 15px;
        width: 40%;
        margin: auto;
        padding: 0;
        padding-left: 50px;
    }

    #firstrow {
        width: 40%;
        margin: 0;
        margin-top: -40px;
    }

    #secondrow {
        width: 45%;
        margin: 0;
        padding: 0;
        padding-left: 50px;
    }

    
    #firstrow h1 {
        font-size: 30px;
    }

    #firstrow h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-image: url(../images/homeworkimg/Group\ 1423@2x\ \(Transparent\).png), url(../images/homeworkimg/Bg\ Shape@2x\ \(Transparent\).png), url(../images/homeworkimg/Group\ 1333@2x\ \(Transparent\).png), url(../images/homeworkimg/Bg\ Shape\ footer\ 2@2x.png), url(../images/homeworkimg/Bg\ Shape\ footer\ 1@2x.png);

        background-size: 380px, 400px, 400px, 1550px, 2300px;
        
        background-position: right 6.5vw top 130px, right top, right top 880px, left -270px bottom -490px, left -1050px bottom -740px;
    }

    .navbar h1 {
        font-size: 30px;
    }

    .navbar img {
        width: 50px;
    }

    .navbar a {
        font-size: 15px;
    }

    #firsth1 {
        font-size: 25px;
    }

    #secondh1 {
        font-size: 45px;
    }

    .textbox1 p {
        font-size: 10px;
    }

    .textbox1 {
        margin-left: 70px;
    }

    .mouse {
        margin-top: 120px;
    }

    .textbox2 {
        margin: auto;  
        margin-top: 150px;      
        width: 60%;
    }

    .textbox2 p{
        width: 100%;
    }

    .textbox2 h4 {
        font-size: 12px;
    }

    .textbox2 h1 {
        font-size: 35px;
    }

    .servicebox {
        width: 100%;
    }

    #firstpb {
        margin-left: 50px;
        margin-top: 0;
    }
    
    .pricebox {
        width: 70%;
        margin-top: 40px;
        margin-right: 50px;
    }

    .pricebox2 {
        width: 70%;
        margin-top: 40px;
        height: 30vh;
        margin-right: 50px;
    }

    .mailbox {
        flex-wrap: wrap;
    }

    .textbox5 a{
        margin: auto;
    }

    .textbox5 input {
        margin-bottom: 15px;
        padding-right: 0;
        padding-left: 0;
        padding: 15px 40px;
        margin: 30px;
    }

    .banner {
        flex-wrap: wrap;
    }

    .row {
        font-size: 15px;
        width: 100%;
        margin: auto;
        padding: 0;
        padding-left: 50px;
        padding-bottom: 30px;
    }

    #firstrow {
        width: 100%;
        margin: 0;
        margin-top: -40px;
    }

    #secondrow {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 50px;
    }

    
    #firstrow h1 {
        font-size: 30px;
    }

    #firstrow h2 {
        font-size: 30px;
    }


}