body {
    font-family: "Montserrat", sans-serif;
    margin: auto;
}

/*-- Open Container 1 --*/
.container1 {
    background-image: url(../img/top-left-corner.png),
    url(../img/top-right-corner.png);
    background-repeat: no-repeat;
    background-position: left top, right top;
    background-size: 112px, 179px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.icon {
    display: none;
    position: absolute;
    right: 30px;
    top: 37px;
    color: #737373;
}

/*-- Open Navbar --*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    padding-left: 200px;
    padding-right: 230px;
}

.nav-left img {
    width: 180px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    color: #737373;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
}

.nav-right a:hover {
  color: #ff6a00;
}
/*-- Close Navbar --*/
/*-- Close Container 1 --*/

/*-- Open Container 5 --*/
.box {
    color: #252b42;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 100px;
    margin-bottom: 100px;
  }
  
.box .title {
    text-align: center;
  }
  
.box .title h4 {
    color: #ff7474;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
.box .title h1 {
    font-size: 40px;
    margin: auto;
  }
  
.box .title p {
    color: #737373;
    font-size: 18px;
  }
  
.box .row {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    font-weight: 700;
  }
  
.box .row .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 33.3%;
    padding: 50px 0;
  }
  
.box .row .col .image-project {
    width: 330px;
  }
  
.box .row .col .image-project img {
    width: 330px;
    height: 185px;
  }
  
.box .row .col p {
    text-align: center;
  }
  /*-- Close Container 5 --*/

/*-- Open Banner --*/
    .banner {
    padding: 50px 0;
    background-color: #2D4059;
    color: white;
    }
  
  .banner .row {
    display: flex;
  }
  
  .banner .row .col {
    width: 40%;
  }
  
  .banner .row #thirdcol {
    width: 35%;
  }
  
  .banner .row #firstcol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  
  .banner .row #firstcol img {
    width: 170px;
  }
  
  .banner .row #secondcol {
    display: flex;
    justify-content: center;
  }
  
  .banner .row #secondcol h3 {
    margin-top: 8px;
    font-size: 18px;
  }
  
  .banner .row #secondcol .link {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
  }
  
  .banner .row #secondcol .link .link-row {
    width: 80px;
    margin: 8px 0;
  }
  
  .banner .row #secondcol .link .link-row a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.2px;
  }
  
  .banner .row #thirdcol a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .banner .row #thirdcol h3 {
    margin-top: 8px;
    font-size: 18px;
  }
  
  .banner .row #thirdcol img {
    width: 23px;
    margin-right: 10px;
  }
  
  .banner .row #thirdcol .contact-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .banner .row #thirdcol .contact-row span {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: white;
  }
  
  #email {
    word-break: break-all;
  }
  /*-- Close Banner --*/

@media screen and (max-width: 1200px) {
    .container1 {
        background-image: none;
    }

    .navbar {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 1090px) {
  .box .row .col {
        flex: 50%;
    }
}

@media screen and (max-width: 860px) {
    .navbar {
        padding-left: 0;
    }

    .nav-right {
    display: none;
    }

    .icon {
    display: block;
    }

    .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    }

    .overlay-content a {
    border-bottom: 1px solid;
    }

    .overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #737373;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
    color: #f1f1f1;
    }

    .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    }

    .box {
      margin: 50px 50px;
    }

  .box .row .col p {
        font-size: 16px;
    }

  .box .row .col {
        flex: 100%;
    }

    .banner .row {
        flex-wrap: wrap;
      }
    
      .banner .row #firstcol {
        width: 100%;
        display: block;
        margin: 0 10px;
      }
    
      .banner .row #secondcol {
        width: 100%;
        margin: 50px;
        justify-content: left;
      }
    
      .banner .row #thirdcol {
        width: 100%;
        margin: 0 50px;
      }
}